@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text: #001119;
  --background: #cdeffe;
  --primary-button: #5468ff;
  --secondary-button: #beeafe;
  --accent: #5ecafd;

  --ff-main: 'Work Sans', sans-serif;
  --ff-sec: 'Merriweather', serif;

  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.2rem + 0.73vw), 1.77rem);
  --step-2: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.5rem);
  --step-3: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
  --step-4: clamp(2.33rem, calc(1.41rem + 4.63vw), 5rem);
  --step-5: clamp(2.8rem, calc(1.32rem + 7.42vw), 7.07rem);
}
html {
  color-scheme: light dark;
}
/* img {
  max-width: 100%;
  display: block;
} */

body {
  background-color: var(--background);
  font-size: var(--step-0);
  color: var(--text);
  line-height: 1.5;
}
.flow > * + * {
  background-color: whitesmoke;
  margin-top: 3px;
}

h1,
h2,
h3 {
  font-family: var(--ff-main);
}
p {
  font-family: var(--ff-sec);
}
a {
  color: var(--primary-button);
  text-decoration: none;
}
a:hover,
a:focus {
  color: var(--secondary-button);
}

/* NAV */
.navbar {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: auto;
  background: var(--accent);
  padding: 10px 20px;
  z-index: 9999;
}

.navbar a {
  color: var(--text);
  text-decoration: none;
  margin-right: 0.5em;
  font-weight: bold;
}

.container {
  width: min(100% - 1rem, 55ch);
  margin-inline: auto;
}

.post-container {
  background-color: whitesmoke;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  padding: 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.pagination {
  text-align: center;
}
/* post card */
.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  padding: 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.post-content {
  text-align: center;
}
/* form */
.container .error-message {
  color: red;
  margin-top: 10px;
}

.container .success-message {
  color: green;
  margin-top: 10px;
}

.container textarea {
  height: 200px;
  resize: vertical;
}

/* button */
button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 2rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  width: 100%;
}

.button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
