@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text: #001119;
  --background: #cdeffe;
  --primary-button: #5468ff;
  --secondary-button: #beeafe;
  --accent: #5ecafd;

  --ff-main: 'Work Sans', sans-serif;
  --ff-sec: 'Merriweather', serif;

  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.2rem + 0.73vw), 1.77rem);
  --step-2: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.5rem);
  --step-3: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
  --step-4: clamp(2.33rem, calc(1.41rem + 4.63vw), 5rem);
  --step-5: clamp(2.8rem, calc(1.32rem + 7.42vw), 7.07rem);
}
html {
  color-scheme: light dark;
}
img {
  max-width: 100%;
}

body {
  background-color: white;
  font-size: var(--step-0);
  color: var(--text);
  line-height: 1.5;
}
.flow > * + * {
  margin-top: 3px;
}

h1,
h2,
h3 {
  font-family: var(--ff-main);
}
p {
  font-family: var(--ff-sec);
}
a {
  color: var(--primary-button);
  text-decoration: none;
}
a:hover,
a:focus {
  color: var(--secondary-button);
}

.underline {
  margin: auto;
  margin-bottom: 10px;
  height: 4px;
  width: 50%;
  border-radius: 20px;
  background-color: var(--primary-button);
}

/* NAV */
.navbar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 3rem;
  padding: 10px 20px;
  background-image: linear-gradient(
    45deg,
    #5468ff 0%,
    #5ecafd 51%,
    #5468ff 100%
  );
  box-shadow: 0 2px 12px 0 rgba(91, 41, 191, 0.5);
  border-radius: 4px;
}
.logo {
  max-height: 100px;
  max-width: 100px;
  margin: auto;
}
.navbar a {
  margin-right: 10px;
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 400;
}
.navbar a:last-child {
  margin-right: 0;
}
.navbar a:hover {
  font-weight: 700;
  transition: all 0.2s;
}
.navbar a:hover ~ .navbar {
  background-position: right center;
}
/* end nav */

.container {
  width: min(100% - 1rem, 55ch);
  margin-inline: auto;
}
.card-container {
  word-wrap: break-word;
}

.post-container,
.post-container-full {
  background-color: whitesmoke;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  padding: 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
.pagination {
  text-align: center;
}
footer p {
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  font-size: 10px;
}
/* post card */
.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  padding: 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.post-content {
  overflow: auto;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 0.5rem;
}
.post-content-full {
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* form */
.container .error-message {
  color: red;
  margin-top: 10px;
}

.container .success-message {
  color: green;
  margin-top: 10px;
}

.container textarea {
  height: 200px;
  resize: vertical;
}

/* button */

button {
  margin: auto;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #5468ff;
  background-image: linear-gradient(
    45deg,
    #5468ff 0%,
    #5ecafd 51%,
    #5468ff 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
button:active {
  transform: scale(0.95);
}
/* pagination */

.pagination a,
.ellipsis {
  padding: 0.5rem;
  margin: 3rem auto;
  border-radius: 0.2rem;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.pagination .current-page {
  background-color: #5468ff;
  color: white;
  padding: 0.5rem;
  margin: 3rem auto;
  border-radius: 0.2rem;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
}

/* @media screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
} */
