* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #0088e9;
  --color2: #40a1f6;
  --color3: #75baff;
  --color4: #9fd5ff;
  --color5: #c6efff;
}

/* NAV */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color1);
  padding: 10px 20px;
  z-index: 9999;
}

.navbar a {
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
  color: black;
}
/*  */
.container {
  margin: 20px;
  padding: 10px;
  background-color: var(--color5);
}

.container form {
  margin-bottom: 20px;
}

.container input,
.container textarea {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.container button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.container button:hover {
  background-color: #45a049;
}

.container .error-message {
  color: red;
  margin-top: 10px;
}

.container .success-message {
  color: green;
  margin-top: 10px;
}

.container textarea {
  height: 200px;
  resize: vertical;
}
/* post */
.post-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #aaaabc;
  border-radius: 5px;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-content {
  font-size: 16px;
  line-height: 1.5;
}
/* Media Queries */
@media (min-width: 768px) {
  .container {
    margin: 40px;
    padding: 40px;
  }

  .container textarea {
    height: 150px;
  }

  .post-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
  }

  .post-title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .post-content {
    font-size: 18px;
    line-height: 1.6;
  }
}
